<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>FarmManager</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
  </head>
  <body>
    <h1>FarmManager</h1>
    <p>Bienvenid@ granjer@, ¿qué deseas gestionar hoy?</p>

    <div class="icons-container">
      <a href="/animales" class="icon-item" title="Animales">
        <div style="font-size: 64px">🐄</div>
        Animales
      </a>
      <a href="/cultivos" class="icon-item" title="Cultivos">
        <div style="font-size: 64px">🌾</div>
        Cultivos
      </a>
      <a href="/maquinaria" class="icon-item" title="Maquinaria">
        <div style="font-size: 64px">🚜</div>
        Maquinaria
      </a>
      <a href="/economia" class="icon-item" title="Economía">
        <div style="font-size: 64px">💰</div>
        Economía
      </a>
      <a href="/empleados" class="icon-item" title="Empleados">
        <div style="font-size: 64px">👩‍🌾</div>
        Empleados
      </a>
    </div>
  </body>
</html>
