<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Gestión de Cultivos</title>
    <link rel="stylesheet" th:href="@{/css/homeAnimales.css}" />
    <link rel="icon" type="image/png" th:href="@{/images/icons/cultivo.png}" />
  </head>
  <body>
    <div class="container">
      <h1>🌾 Gestión de Cultivos</h1>
      <p class="intro">¿Cómo quieres gestionar hoy a tus cultivos?</p>

      <div class="menu-opciones">
        <a href="/cultivos/listado" class="menu-item">
          📋 Listado de mis Cultivos
        </a>
        <a href="/cultivos/nuevo" class="menu-item">
          ➕ Añadir un Nuevo Cultivo
        </a>
      </div>

      <a href="/" class="volver-btn">← Volver a la página principal</a>
    </div>
  </body>
</html>
