<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Gestión de Empleados</title>
    <link rel="stylesheet" th:href="@{/css/homeAnimales.css}" />
    <link rel="icon" type="image/png" th:href="@{/images/icons/empleado.png}" />
  </head>
  <body>
    <div class="container">
      <h1>👩‍🌾 Gestión de Empleados</h1>
      <p class="intro">¿Cómo quieres gestionar hoy a tus Empleados?</p>

      <div class="menu-opciones">
        <a href="/empleados/listado" class="menu-item">📋 Listado Empleados</a>
        <a href="/empleados/nuevo" class="menu-item">➕ Añadir Empleado</a>
        <a href="/empleados/reportes" class="menu-item"
          >📊 Reportes de Personal</a
        >
      </div>

      <a href="/" class="volver-btn">← Volver a la página principal</a>
    </div>
  </body>
</html>
